<footer>
    <div class="footer-grid">
      <div class="footer-column">
        <h3>Landing Page 1</h3>
        <p>Insert brief description about the website or company</p>
      </div>
      <div class="footer-column">
        <h3>Services</h3>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a (click)="scrollToTop()">Home</a></li>
          <li><a (click)="scrollToAboutUs()">About</a></li>
          <li><a (click)="scrollToContact()">Contact</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Follow Us</h3>
        <ul>
          <li>Facebook </li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        © {{ currentYear }} Landing Page 1. All Rights Reserved.
      </div>
      <div class="footer-links">
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>