nav {
  display: flex;
  width: 518px;
  height: 70px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #66492E80;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);

}



ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease;
  font-size: var(--font-medium);
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 20px;
  }

  ul {
    flex-direction: column;
    gap: var(--spacing-medium);
    margin-top: var(--spacing-medium);
  }
}
